<a href="https://colab.research.google.com/github/jblancoperez/fiap-desafio/blob/main/00-analise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt

arquivo = pd.read_csv('c:/Users/Angelo/Downloads/solicitacoescredito.csv')

In [ ]:
arquivo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8973 entries, 0 to 8972
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   numero_solicitacao           8973 non-null   int64
 1   razaoSocial                  8973 non-null   object
 2   nomeFantasia                 8973 non-null   object
 3   cnpjSemTraco                 8973 non-null   object
 4   maiorAtraso                  8973 non-null   int64
 5   margemBrutaAcumulada         8973 non-null   float64
 6   percentualProtestos          7475 non-null   float64
 7   primeiraCompra               8867 non-null   object
 8   prazoMedioRecebimentoVendas  8973 non-null   int64
 9   titulosEmAberto              8973 non-null   float64
 10  valorSolicitado              8973 non-null   float64
 11  status                       8973 non-null   object
 12  definicaoRisco               8973 non-null   object
 13  diferencaPercentualRisco     8973 non-null   float64
 14  percentualRisco              8973 non-null   float64
 15  dashboardCorrelacao          8973 non-null   float64
 16  valorAprovado                7569 non-null   float64
 17  dataAprovadoEmComite         558 non-null    object
 18  periodoBalanco               4733 non-null   object
 19  ativoCirculante              4733 non-null   float64
 20  passivoCirculante            4733 non-null   float64
 21  totalAtivo                   4733 non-null   float64
 22  totalPatrimonioLiquido       4733 non-null   float64
 23  endividamento                4733 non-null   float64
 24  duplicatasAReceber           4733 non-null   float64
 25  estoque                      4733 non-null   float64
 26  faturamentoBruto             8223 non-null   float64
 27  margemBruta                  8223 non-null   float64
 28  periodoDemonstrativoEmMeses  8223 non-null   float64
 29  custos                       8223 non-null   float64
 30  anoFundacao                  8228 non-null   float64
 31  intervaloFundacao            8228 non-null   object
 32  capitalSocial                8228 non-null   float64
 33  restricoes                   8228 non-null   object
 34  empresa_MeEppMei             8228 non-null   object
 35  scorePontualidade            8973 non-null   float64
 36  limiteEmpresaAnaliseCredito  8228 non-null   float64
 37  dataAprovadoNivelAnalista    7011 non-null   object
dtypes: float64(23), int64(3), object(12)
memory usage: 2.6+ MB

In [ ]:
#Remover transacaoes que nao passaram por analise de credito
statusvalidos = ['EmAnaliseDocumentacao','AguardandoAprovacao','DocumentacaoReprovada']
filtrado = arquivo.loc[arquivo['status'].isin(statusvalidos)]
filtrado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 794 entries, 1 to 8972
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   numero_solicitacao           794 non-null    int64
 1   razaoSocial                  794 non-null    object
 2   nomeFantasia                 794 non-null    object
 3   cnpjSemTraco                 794 non-null    object
 4   maiorAtraso                  794 non-null    int64
 5   margemBrutaAcumulada         794 non-null    float64
 6   percentualProtestos          630 non-null    float64
 7   primeiraCompra               774 non-null    object
 8   prazoMedioRecebimentoVendas  794 non-null    int64
 9   titulosEmAberto              794 non-null    float64
 10  valorSolicitado              794 non-null    float64
 11  status                       794 non-null    object
 12  definicaoRisco               794 non-null    object
 13  diferencaPercentualRisco     794 non-null    float64
 14  percentualRisco              794 non-null    float64
 15  dashboardCorrelacao          794 non-null    float64
 16  valorAprovado                0 non-null      float64
 17  dataAprovadoEmComite         0 non-null      object
 18  periodoBalanco               38 non-null     object
 19  ativoCirculante              38 non-null     float64
 20  passivoCirculante            38 non-null     float64
 21  totalAtivo                   38 non-null     float64
 22  totalPatrimonioLiquido       38 non-null     float64
 23  endividamento                38 non-null     float64
 24  duplicatasAReceber           38 non-null     float64
 25  estoque                      38 non-null     float64
 26  faturamentoBruto             48 non-null     float64
 27  margemBruta                  48 non-null     float64
 28  periodoDemonstrativoEmMeses  48 non-null     float64
 29  custos                       48 non-null     float64
 30  anoFundacao                  49 non-null     float64
 31  intervaloFundacao            49 non-null     object
 32  capitalSocial                49 non-null     float64
 33  restricoes                   49 non-null     object
 34  empresa_MeEppMei             49 non-null     object
 35  scorePontualidade            794 non-null    float64
 36  limiteEmpresaAnaliseCredito  49 non-null     float64
 37  dataAprovadoNivelAnalista    0 non-null      object
dtypes: float64(23), int64(3), object(12)
memory usage: 241.9+ KB

In [ ]:
valores = arquivo[['percentualRisco','valorAprovado','valorSolicitado','margemBruta','primeiraCompra','scorePontualidade']]
valores.head(50)

,percentualRisco,valorAprovado,valorSolicitado,margemBruta,primeiraCompra,scorePontualidade
0,0.283019,50000.0,50000.0,0.0,2015-12-10T00:00:00,1.000000
1,0.000000,NaN,10000.0,NaN,2019-06-12T17:28:31,0.000000
2,0.283019,20000.0,20000.0,0.0,2019-11-27T00:00:00,1.000000
3,0.603774,15000.0,25000.0,0.0,2017-02-13T17:20:27,0.000000
4,0.169811,50000.0,50000.0,81459809.0,2010-07-13T00:00:00,1.000000
5,0.377358,20000.0,25000.0,0.0,2019-06-28T10:25:57,0.000000
6,0.415094,80000.0,100000.0,-7540544.0,2011-03-02T11:27:13,0.000000
7,0.056604,300000.0,300000.0,9357949.0,2007-07-02T00:00:00,1.000000
8,0.113208,400000.0,400000.0,6233236.0,2006-07-10T00:00:00,1.000000
9,0.000000,NaN,50000.0,NaN,2011-02-24T00:00:00,0.831590
10,0.396226,800000.0,1000000.0,296634.0,2012-02-24T16:01:26,0.000000
11,0.415094,50000.0,200000.0,-772398.0,2017-12-20T17:03:32,0.000000
12,0.490566,1138000.0,1138000.0,0.0,2019-10-10T11:47:29,0.000000
13,0.000000,NaN,350000.0,NaN,2006-05-01T13:18:05,0.000000
14,0.207547,200000.0,200000.0,-312950.0,2019-03-08T00:00:00,1.000000
15,0.396226,750000.0,750000.0,10266414.0,2011-08-08T11:28:00,0.000000
16,0.377358,3900000.0,3900000.0,10216020.0,2009-05-30T11:49:31,0.000000
17,0.000000,NaN,40000.0,NaN,2018-07-10T00:00:00,1.000000
18,0.301887,350000.0,350000.0,10216020.0,2018-06-13T17:43:00,0.000000
19,0.113208,1600000.0,2000000.0,18419747.0,2016-01-20T00:00:00,0.999976
20,0.433962,34000.0,34000.0,1034268.0,2017-11-22T00:00:00,1.000000
21,0.528302,180000.0,350000.0,339799.0,2014-03-31T00:00:00,0.691342
22,0.320755,50000.0,50000.0,1182617.0,2013-02-18T00:00:00,0.991829
23,0.433962,200000.0,320000.0,52217624.0,2017-09-06T00:00:00,0.769472
24,0.000000,NaN,50000.0,NaN,2010-05-21T17:12:17,0.000000
25,0.264151,300000.0,300000.0,0.0,2009-06-17T00:00:00,1.000000
26,0.000000,NaN,70000.0,NaN,2007-03-15T00:00:00,1.000000
27,0.433962,NaN,15000.0,0.0,2019-12-19T17:29:40,0.000000
28,0.264151,100000.0,100000.0,5752085.0,2018-04-25T00:00:00,1.000000
29,0.000000,NaN,20000.0,NaN,2018-06-26T00:00:00,1.000000
30,0.000000,NaN,30000.0,NaN,2016-08-25T17:20:08,0.000000
31,0.396226,20000.0,50000.0,-55361.0,2016-11-18T00:00:00,1.000000
32,0.396226,10000.0,10000.0,0.0,2017-08-07T00:00:00,1.000000
33,0.603774,10000.0,20000.0,0.0,2007-07-02T17:09:55,0.000000
34,0.000000,NaN,30000.0,NaN,2018-11-21T17:48:51,0.000000
35,0.000000,NaN,40000.0,NaN,2019-02-22T00:00:00,1.000000
36,0.490566,NaN,30000.0,1387232.0,2018-06-13T00:00:00,1.000000
37,0.283019,30000.0,30000.0,0.0,2009-06-29T00:00:00,1.000000
38,0.264151,20000.0,20000.0,0.0,2011-08-16T00:00:00,1.000000
39,0.660377,10000.0,15000.0,0.0,2018-10-05T17:27:12,0.000000
40,0.150943,20000.0,20000.0,0.0,2011-08-02T17:13:06,0.000000
41,0.509434,NaN,10000.0,0.0,2020-01-15T00:00:00,1.000000
42,0.283019,20000.0,20000.0,-3319.0,2013-09-30T17:15:04,0.000000
43,0.169811,20000.0,20000.0,0.0,2018-01-09T00:00:00,1.000000
44,0.490566,11000.0,15000.0,0.0,2017-05-18T17:21:49,0.000000
45,0.320755,15000.0,15000.0,0.0,2006-06-01T00:00:00,1.000000
46,0.547170,15000.0,40000.0,0.0,2014-11-06T00:00:00,1.000000
47,0.490566,10000.0,30000.0,0.0,2017-07-04T00:00:00,1.000000
48,0.301887,NaN,80000.0,2916036.0,2018-03-22T00:00:00,1.000000
49,0.377358,7000.0,7000.0,0.0,2019-04-22T17:28:19,0.000000